* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* ------------ CONTENIDO DE LA PÁGINA -------------- */
/* Config. Generales */
body {
    background-color: #FAD6B1;
    color: #333;
}

.flexbox {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100vh;
}

aside, main {
    border: 1px solid black;
    height: 100%;
    background-color: antiquewhite;
}

main {
    width: 90%;
}

aside {
    background-color: beige;
    padding: 10% 0;
    width: 10%;
    min-width: 120px;
}

/* NAV ASIDE */
.nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center ;
    padding: 20px 10px;
}

#admin_icono {
    font-size: 40px;
}

.nav_list {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-top: 50px;
    list-style: none;
}

.nav_link {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    padding: 8px;
    transition: background-color 0.5s;
    border-radius: 10px;
}

.nav_link:hover {
    background-color: rgba(165, 42, 42, 0.534);
}

input[type="checkbox"], label {
    display: none;
}

/* Primer cambio de disposición (menú de vertical a horizontal) */
@media screen and (max-width:700px) {
    .flexbox {
        flex-direction: column;
    }
    aside, main {
        width: 100%;
    }
    aside {
        height: 10vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .nav {
    flex-direction: row;
    gap: 5px;
    text-wrap: balance;
    justify-content: space-evenly;
    padding: 10px;
}
    .nav_list {
    flex-direction: row;
    margin-top: 0;
    gap: 10px;
}
}

/* 2do cambio (direccion row a dirección column) */
@media screen and (max-width:500px) {
    .nav {
        flex-direction: column;
        margin: 0;
        padding: 0;
        /* gap: 0; */
    }
    .nav_list {
        padding: 0;
        margin: 0;
        justify-content: space-evenly;
        gap: 0;
    }
    aside {
        height: auto;
        margin: 0;
        padding: 0;
    }
}
/* MENU DE HAMBURGUESA PARA PANTALLAS MUY CHIQUITAS */
@media screen and (max-width:291px) {
    label {
        display: flex;
        flex-direction: row;
    }
    #boton_x {
        display: none;
    }

    .nav ul {
        background-color: rgba(199, 91, 91, 0.829);
        position: absolute;
        margin-top: 25vh;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        left: -150%;
        transition: left 0.5s;
    }
    /* cuando se chequea, se despliega el menu */
    input:checked ~ ul {
        left: 0;
    }
    input:checked ~ label>#boton_hamburguesa {
        display: none;
    }
    input:checked ~ label>#boton_x {
        display: block;
    }
}