h1 {
    font-size: 50px;
}


/* Sintaxis */

/* @media not|only mediatype and (expressions) {
    declaraciones
} */

/* 
@media empieza la regla 

not y only son operadores opcionales:
not excluye a los dispositivos que cumplen con la consulta 
only se usa para evitar que navegadores antiguos no apliquen cierto estilo. 

mediatype -> Tipo de medio al que se dirige la consulta. 
como print,screen

el "and" une otras expresiones

las expressions evalúan características del dispositivo. 


*/

/* La expresión "screen" hace referencia al tipo de medio, es una condición en sí misma. Ya que estamos diciendo que tiene que haber una pantalla para aplicarse el estilo (cosa distinta si usáramos print) */


/* luego colocamos el "and" y ponemos otra condición entre paréntesis*/


            /* CONDICIÓN PARA RESOLUCIÓN DE PANTALLA */
@media screen and (max-width:600px) {
    h1 {
        font-size: 12px;
        background-color: black;
        color: white;
    }
}
/* Acá colocamos que la regla se cumple si es un medio de pantalla y si esta tiene menos de 500px inclusive. (Es decir, este estio se va a aplicar en pantallas con un tope máximo de 500px. Si una pantalla tiene más resolución. Ese estilo no se aplicará */