*{
    font-family: 'Courier New', Courier, monospace;
    font-size:medium;
}

body{
    background-image: url("../img/fondo.jpeg");
    box-align: 30vh;
    display: flex;
    align-content: center;
}

.crearcuenta{
    font-size:x-large;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: bold
}

.login{
    font-size:large;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: bold
}

.cont{
    background-color: #ddbd9d;
    opacity:80%;
    width:80%;
    margin: auto;
    margin-top: 15%;
    border-radius: 10px;
}

label {
    display: block;
    margin-left: 20%;
}
.form {
    display: flex;
    flex-direction: column;
}
input[type="email"], input[type="password"] {
    display: block;
    width: 60%;
    height: 30%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px 0 5px 0 ;
    border: 1.5px solid #c3a78a;
    border-radius: 10px;
}

/*div de los dos botones*/
.botones {
    text-align: center;
    padding: 10px 5px;
    margin-bottom: 10px;
}
/*cada boton en si*/
input[type="submit"], input[type="button"] {
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    border: 1.5px solid #c3a78a;
    padding: 10px;
    background-color:#fad6b1;
    color: black;
    cursor: pointer;
}

.bot:hover{
    background-color: #d6786a;
    
}