<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Agregar producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_product.css') }}">
    <script src="https://kit.fontawesome.com/56579e118f.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- CONTENIDO DE LA PÁGINA -->
    <div class="flexbox">


    <!-- ASIDE / MENÚ LATERAL-->
    <aside class="menu_lateral">
      <nav class="nav">
        <i class="fa-solid fa-circle-user" id="admin_icono"></i>
        <h2 id="admin">ADMIN</h2>
        <!-- checkbox oculto para responsive y label para menu-hamburguesa -->
        <input type="checkbox" id="boton_abrir_menu">
        <label for="boton_abrir_menu" class="botonmenu">
          <i class="fa-solid fa-x" id="boton_x" title="Cerrar Menú"></i>
          <i class="fa-solid fa-bars" id="boton_hamburguesa" title="Abrir Menú"></i>
          Menú
        </label>
        <!-- links -->
        <ul class="nav_list">
            <li><a href="{{ url_for('estadisticas') }}">Estadísticas</a></li>
            <li><a href="{{ url_for('pedidos_admin') }}">Pedidos</a></li>
            <li><a href="{{ url_for('add_product') }}">Producto</a></li>
        </ul>
      </nav>
    </aside>

        
        <main>
            <form class="descr" id="formProducto" action="{{ url_for('add_product') }}" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="nombre" class="nombre">Nombre del Producto:</label>
                    <input type="text" id="nombre" class="nombre" name="nombre">
                    <small class="error-text"></small>
                </div>
                <div> 
                    <label for="caract" class="caract">Caracteristicas:</label>
                    <textarea type="text" id="caract" class="caract" name="descripcion"> </textarea>
                    <small class="error-text"></small>
                </div>
                <div class="menucolor">
                     <div id="contenedor-colores">
                        <div class="colores">
                            <label>Código hexadecimal del color</label>
                            <input type="text" class="color" name="colores[]" placeholder="#FFFFFF">
                        </div>
                    </div>
                    <div>
                        <input type="button" value="+" id="agregarcolor" class="agregarcolor" title="Agregar color">
                    </div>
                </div>

                <div class="archivo">
                    <input type="file" name="archivo" id="archivo" name="img">
                    <small class="error-text"></small>
                </div>
                <div>
                    <label for="precio">Precio</label>
                    <input type="text" id="precio" class="precio" name="precio">
                    <small class="error-text"></small>
                </div>
                <!-- Mensaje general de validación -->
                <p id="mensaje-general" class="mensaje-general"></p>
                <div class="botones"> 
                    <input type="submit" value="Agregar producto" class="bot">
                    <!-- <input type="reset" value="Resetear" class="bot"> -->
                </div>
            </form> 
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/add_product.js') }}"></script>    
</body>
</html>