* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* ------------ CONTENIDO DE LA PÁGINA -------------- */
/* Config. Generales */
body {
    background-color: #FAD6B1;
    color: #333;
}

.flexbox {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100vh;
}

aside, main {
    border: 1px solid black;
    height: 100%;
    background-color: antiquewhite;
}

main {
    width: 90%;
}

aside {
    background-color: beige;
    padding: 10% 0;
    width: 10%;
    min-width: 120px;
}

/* NAV ASIDE */
.nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center ;
    padding: 20px 10px;
}

#admin_icono {
    font-size: 40px;
}

.nav_list {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-top: 50px;
    list-style: none;
}

.nav_link {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    padding: 8px;
    transition: background-color 0.5s;
    border-radius: 10px;
}

.nav_link:hover {
    background-color: rgba(165, 42, 42, 0.534);
}

input[type="checkbox"], label {
    display: none;
}

/* Primer cambio de disposición (menú de vertical a horizontal) */
@media screen and (max-width:700px) {
    .flexbox {
        flex-direction: column;
    }
    aside, main {
        width: 100%;
    }
    aside {
        height: 10vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .nav {
    flex-direction: row;
    gap: 5px;
    text-wrap: balance;
    justify-content: space-evenly;
    padding: 10px;
}
    .nav_list {
    flex-direction: row;
    margin-top: 0;
    gap: 10px;
}
}

/* 2do cambio (direccion row a dirección column) */
@media screen and (max-width:500px) {
    .nav {
        flex-direction: column;
        margin: 0;
        padding: 0;
        /* gap: 0; */
    }
    .nav_list {
        padding: 0;
        margin: 0;
        justify-content: space-evenly;
        gap: 0;
    }
    aside {
        height: auto;
        margin: 0;
        padding: 0;
    }
}
/* MENU DE HAMBURGUESA PARA PANTALLAS MUY CHIQUITAS */
@media screen and (max-width:291px) {
    aside>label {
        display: flex;
        flex-direction: row;
    }
    #boton_x {
        display: none;
    }

    .nav ul {
        background-color: rgba(199, 91, 91, 0.829);
        position: absolute;
        margin-top: 25vh;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        left: -150%;
        transition: left 0.5s;
    }
    /* cuando se chequea, se despliega el menu */
    aside>input:checked ~ ul {
        left: 0;
    }
    aside>input:checked ~ label>#boton_hamburguesa {
        display: none;
    }
    aside>input:checked ~ label>#boton_x {
        display: block;
    }
}

main>form[class="descr"], label{
    display: flex ;
}


.descr{
    background-blend-mode: color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 25px 20px;
    align-items: left;
}

h1{
    font-size: xx-large;
}

.caract{
    font-size: larger;
}

.botones{
    display: flex;
    justify-content: center;
    gap:10px;
    padding: 10px 0;
}

input[type="button"] {
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    border: 1.5px solid #c3a78a;
    padding: 10px;
    background-color:#fad6b1;
    color: black;
    transition: all 0.5s;
    cursor: pointer;
}

main>form{
    text-align: left;
    margin-bottom: 1vh;
}

.bot:hover{
    background-color: #d6786a;
}

main>input[type="submit"]{
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    border: 1.5px solid #c3a78a;
    padding: 10px;
    background-color:#fad6b1;
    color: black;
    cursor: pointer;
}

input[type="reset"]{
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    border: 1.5px solid #c3a78a;
    padding: 10px;
    background-color:#fad6b1;
    color: black;
    cursor: pointer;
}

#caract{
    width: 100%;
    min-height: fit-content;
    resize: vertical;
    background-color: #fad6b1;
    border-color: #c3a78a;
}

input[type="text"]{
    background-color: #fad6b1;
    border-color: #c3a78a;
}

.nombre{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

.caract{
    text-align: justify;
    font-size: x-large;
}


.botones{
    display: block;
    text-align: center;
    padding: 10px 5px;
    margin-bottom: 10px;
}

input[type="file"]{
  width:100%;
  margin: 10px 0;
}

input[type="file"]::file-selector-button {
    border-radius: 5px;
    border: 1.5px solid #c3a78a;
    padding: 10px;
    background-color:#fad6b1;
    color: black;
    transition: all 0.5s;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover{
    background-color: #d6786a;
}